@import './base.css';

body {
  overflow: hidden;
  font-family: var(--semantic-font-family);
  line-height: 1.2;
  color: var(--semantic-colors-system-font);
  height: 100vh;
  width: 100vw;
  display: flex;
}
