@import './base.css';
@import './primatives.css';
@import './semantics.css';
@import './spacing.css';

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: 'Proggy', sans-serif;
  line-height: 1.2;
  color: var(--semantic-colors-system-font);
  /* background: var(--semantic-colors-background); */
  /* background-size: cover; */
}
