:root {
  --primative-colors-grey1: #343434;
  --primative-colors-grey2: #343434;
  --primative-colors-grey3: #393939;
  --primative-colors-grey4: #474747;
  --primative-colors-grey5: #808080;
  --primative-colors-grey6: #dddddd;
  --primative-colors-grey7: #ededed;
  --primative-colors-green1: #27c840;
  --primative-colors-yellow1: #febb2e;
  --primative-colors-red1: #ff5f57;
  --primative-colors-blue1: #3894ff;
  --primative-colors-white1: #ffffff;
}
