export NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1

# This is used to automatically enable nix develop.
# https://nixos.wiki/wiki/Flakes#Direnv_integration
use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}
use flake

export NODE_PATH="$NODE_PATH:$PWD/bazel/js/backend/node_modules:$PWD/bazel/js/frontend/node_modules"

# Set up monorepo bins
PATH_add devx/bin
