body {
  margin: 0;
}

html {
  box-sizing: border-box;
  touch-action: none;
  overscroll-behavior-x: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  cursor: default;
  user-select: none;
}
a {
  all: unset;
}
