/* RESET */
body {
  margin: 0;
}

html {
  box-sizing: border-box;
  touch-action: none;
  overscroll-behavior-x: none;
}
/* *, */
/* *:before, */
/* *:after { */
/*   overscroll-behavior-x: none; */
/*   box-sizing: inherit; */
/*   cursor: default; */
/*   user-select: none; */
/* } */
a {
  all: unset;
}

body {
  justify-content: center;
  align-items: center;
  background: var(--primatives_colors_grey_900);
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background: var(--primatives_colors_grey_900);
}
/* END RESET */
