:root {
  --pv_colors_brand_bloodorange: rgba(
    211.43749594688416,
    51.97838366031647,
    51.97838366031647,
    1
  );
  --pv_colors_brand_green: rgba(35.73233261704445, 255, 0, 1);
  --pv_colors_brand_purple: rgba(127.50001519918442, 0, 255, 1);
  --pv_colors_brand_yellow: rgba(
    217.8125050663948,
    156.43076598644257,
    63.52864667773247,
    1
  );
  --pv_colors_grey_200: rgba(
    190.95781087875366,
    191.34455412626266,
    193.37499797344208,
    1
  );
  --pv_colors_grey_400: rgba(
    133.2507786154747,
    133.9254704117775,
    134.93749290704727,
    1
  );
  --pv_colors_grey_500: rgba(
    84.22083154320717,
    85.6728932261467,
    87.12500050663948,
    1
  );
  --pv_colors_grey_50: rgba(247.56250709295273, 248.30623358488083, 255, 1);
  --pv_colors_grey_600: rgba(
    41.649998277425766,
    42.66148120164871,
    44.62499924004078,
    1
  );
  --pv_colors_grey_700: rgba(
    32.15833179652691,
    32.15833179652691,
    34.00000177323818,
    1
  );
  --pv_colors_grey_800: rgba(
    25.23437563329935,
    25.36718040704727,
    26.56249936670065,
    1
  );
  --pv_colors_grey_900: rgba(
    19.567707404494286,
    19.904164150357246,
    21.25000063329935,
    1
  );
  --pv_radius_lg: var(--pv_spacing_2);
  --pv_radius_md: var(--pv_spacing_1);
  --pv_radius_sm: var(--pv_spacing_-1);
  --pv_radius_xl: var(--pv_spacing_3);
  --pv_radius_xs: var(--pv_spacing_-2);
  --pv_spacing_-1: 0.6180469989776611em;
  --pv_spacing_-2: 0.38198205828666687em;
  --pv_spacing_-3: 0.2364029735326767em;
  --pv_spacing_1: 1em;
  --pv_spacing_2: 1.6180000305175781em;
  --pv_spacing_3: 2.6179239749908447em;
  --pv_spacing_4: 4.2358012199401855em;
  --pv_spacing_5: 6.8535261154174805em;
  --pv_spacing_6: 11.089005470275879em;
  --pv_spacing_7: 17.9420108795166em;
  --pv_spacing_8: 29.03017234802246em;
}

